html{
  background: linear-gradient(10deg, red, purple);
}


.webname{
  width: 500px;
  height: 90px;
  background: black;
  color: white;
}

h2{
  position: relative;
  top: 35px;
  left: 50px;
  font-size: 30px;
  font-weight: 1000;
}


.b{
  background: linear-gradient(20deg, red, orange, red, purple);
}

b{
  color: white;
}